* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
@media only screen and (max-width: 768px) {
    .calcWrapper{
        width: 100vw;
        bottom: 0%;
    }
}
.calcWrapper{
    width: 450px;
    height: 650px;
    position: relative;
    bottom: 0%
}
.displayWrapper {
    position: relative;
    height: 100px;
    right: 0%
}
.display {
    height: 150px;
    font-size: 500%;
    color: white;
    text-align: right;
    width: 400px;
    position: absolute;
    bottom: -100%;
    right: 0%;
    z-index: 3
}

.calcButtons {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    padding: 6.25%;
    position: relative;
    bottom: -40%

}


.numberButton {
    background-color: transparent;
    border-color: transparent;
    font-size: 200%;
    /* box-align: center; */
    color: white;
    width: 100%;
    border-radius: 50%
   
}

.opButton {
    color: white;
    background-color: transparent;
    border-radius: 50%;
    border-color: transparent;
    border-style: solid;
    font-size: 200%;
    width: 100%
}

.topButton {
    color: black;
    background-color: transparent;
    border-radius: 50%;
    border-color: transparent;
    border-style: solid;
    font-size: 200%;
    width: 100%
}


/* pretty sure these button wrappers are completely not needed now.... change at some point */

.numberButtonWrap {
    width: 21%;
    height: 15%;
    margin: 0.5%;
    display: flex;
    background-color: #505050;
    justify-content: center;
    border-radius: 50%;
    border-color: transparent;
    z-index: 2
   
}

.opButtonWrap {
    width: 21%;
    height: 15%;
    margin: 0.5%;
    display: flex;
    background-color: #FF9500;
    justify-content: center;
    border-radius: 50%;
    border-color: transparent;
   
}

.topButtonWrap {
    width: 21%;
    height: 15%;
    margin: 0.5%;
    display: flex;
    background-color: #D4D4D2;
    justify-content: center;
    border-radius: 50%;
    border-color: transparent;
   
}

.zeroButton {
    position: absolute;
    width: 23.5%;
    height: 13.9%;
    background-color: #505050;
    bottom: 8.25%;
    left: 15%;
    z-index: 0

}


